body {
  background-color: #BDBDBD;
  margin: 0
}

a {
  color: black;
  text-decoration-line: none;
}

h1 {
  text-align: center;
  width: 100%;
  padding: 80px;
  background-color: #F3F3F3;
  margin-top: 0;
  right: 50%;


}

ol {
  margin-top: 50px;
}
